# середовище
venv/
.env

# скомпільовані Python-файли
__pycache__/
*.py[cod]

# налаштування IDE
.idea/
.vscode/

# база даних SQLite (якщо є)
db.sqlite3

# логи та тимчасові файли
*.log
*.sqlite3
*.bak

# пакунки, встановлені pip (якщо зберігаються у каталозі vendor або libs)
libs/
vendor/

# інші налаштування / артефакти
*.swp
.DS_Store
